.btn{
  color: azure;
  width: 120px;
  height: 40px;
  background-color: blue;
  border: solid;
  border-radius: 5px;
  
  
}
.min{
  
  margin: 30px;
  width: 30%;
  display: flex;
}
.btr{
  margin-left: 100px;
}


